<!DOCTYPE html>
<html>

    <head>
        <title>@ViewBag.Title</title>
        <link href="~/css/site.css" rel="stylesheet" />
    </head>

    <body>
        <header>
            <h1>Welcome to Birdy</h1>
        <menu>
            <ul>
                <li><a asp-controller="App" asp-action="Index">Home</a></li>
                <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
                <li><a asp-controller="App" asp-action="About">About</a></li>
            </ul>
        </menu>
        </header>
        <section>
            <h1>@ViewBag.Title</h1>
            @RenderBody()
        </section>
        <footer>Get birdier, fast</footer>
    
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/index.js"></script>
        @RenderSection("scripts", false)
</body>
</html>