@{ 
    ViewBag.Title = "Birdy";
}

<div class="bird-info">
    <img src="~/img/gulsparv.jpg" />
    <h3>Gulsparv</h3>
    <ul class="bird-props">
        <li>Emberiza citrinella</li>
        <li>Yellowhammer</li>
    </ul>
    <button id="selectButton" >Select</button>
</div>
